@media only screen and (min-width: 64rem) {

    header img.logo {
        grid-column: 1;
        grid-row: 1;
        padding: .5rem 0;
    }

    img.sites {
        box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
        -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
        -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
        transition: transform .2s;
    }

    img.sites:hover{
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Safari 3-8 */
        transform: scale(1.5);
        }

    #message {
        font-size: 1rem;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 3px;
    }

    nav button {
        display: none;
    }
    

    nav ul#primaryNav{
        display: flex;
        margin-left: 0;
        justify-content: center;
        font-size: 1.3rem;
    }

    nav ul li a {
        padding: .5rem 1rem;
        border: none;
    }

    .spotlight3 {
        display: block;
    }

    .spotlight {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    main.index {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    main.discover p {
        font-size: 2rem;
        padding: 0;
        margin: 1.2rem;
    }

    div.places {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        align-items: center;
    }

    .left {
        grid-column: 1;
    }

    .right {
        grid-column: 2;
    }

    #descrition2 {
        grid-row: 2;
    }

    #descrition4 {
        grid-row: 4;
    }

    #descrition6 {
        grid-row: 6;
    }

    #descrition8 {
        grid-row: 8;
    }

    #descrition10 {
        grid-row: 10;
    }

    .event {
        grid-column: 1/1;
        grid-row: 1/1;
    }

    .hero {
        grid-column: 2/4;
        grid-row: 1/3;
    }

    .hero p {
        font-size: 2.5rem;
    }

    .spotlight {
        grid-column: 4/5;
        grid-row: 1/4;
    }

    .weather {
        grid-column: 1;
        grid-row: 2;
    }

    .join {
        grid-column: 1;
        grid-row: 3;
        padding: 2rem;
    }

    div#joinContent {
        margin: auto 0;
    }

    .news {
        grid-column: 2/4;
        grid-row: 3;
    }

    footer img.logo {
        grid-column: 1;
        grid-row: 1/3;
        width: 12rem;
        height: 12rem;
        width: 200px;
        height: 200px;
    }

    footer div.company {
        text-align: center;
        grid-column: 2;
        grid-row: 1;
        margin: auto;
        padding: auto;
    }

    footer div p#title {
        font-size: 2rem;
    }

    footer div div.address {
        margin: auto;
        padding: auto;
        font-size: 1.5rem;
    }

    footer div.mapouter {
        grid-row: 1/3;
        grid-column: 3;
        margin: auto 0;
    }

    footer div.foot {
        grid-column: 2;
        grid-row: 2;
    }
}