@media only screen and (min-width: 35rem) {

    header {
        grid-template-columns: 200px 1fr 200px;
    }

    header p {
        font-size: 2rem;
    }

    .social {
        margin-top: 1.5rem;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .hero {
        grid-column: 1/4;
        grid-row: 1;
    }

    .news {
        grid-column: 1/4;
        grid-row: 2;
    }

    .spotlight {
        grid-column: 1/4;
        grid-row: 3;
    }

    .join {
        display: block;
        grid-column: 1/4;
        grid-row: 4;
    }

    .event {
        grid-column: 1/3;
        grid-row: 5;
    }

    .weather {
        grid-column: 3/4;
        grid-row: 5;
    }

    footer {
        grid-template-columns: 200px 1fr 200px;
    }

    footer div.mapouter {
        grid-row: 1;
        grid-column: 3;
    }

    footer div.foot {
        grid-row: 2;
        grid-column: span 3;
    }

    footer div h3 {
        font-size: 1.5rem;
    }
}