@media only screen and (min-width: 64rem) {

    header img.logo {
        grid-column: 1;
        grid-row: 1;
        padding: .5rem 0;
    }

    img.sites {
        box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
        -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
        -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
        transition: transform .2s;
    }

    img.sites:hover{
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Safari 3-8 */
        transform: scale(1.5);
        }

    #message {
        font-size: 1rem;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 3px;
    }

    nav button {
        display: none;
    }
    

    nav ul#primaryNav{
        display: flex;
        margin-left: 0;
        justify-content: center;
        font-size: 1.3rem;
    }

    nav ul li a {
        padding: .5rem 1rem;
        border: none;
    }

    .joinform {
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
        padding: 20px;
        }
    
    textarea {
        width: calc(100% - 12px);
        padding: 5px;
        }
    
    form {
        width: 100%;
        padding: 20px;
        border-radius: 6px;
        background: #fff;
        box-shadow: 0 0 8px  #669999; 
        }
    
    input, select, textarea {
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        }
    input {
    width: calc(100% - 10px);
    padding: 5px;
    }
    input[type="date"] {
    padding: 4px 5px;
    }
    textarea {
    width: calc(100% - 12px);
    padding: 5px;
    }
    .item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::placeholder {
    color:  #669999;
    }
    .item input:hover, .item select:hover, .item textarea:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 3px 0  #669999;
    color: #669999;
    }
    .item {
    position: relative;
    margin: 10px 0;
    }
    .item span {
    color: red;
    }
    
    .colums {
        display:flex;
        justify-content:space-between;
        flex-direction:row;
        flex-wrap:wrap;
        }
    .colums div {
    width: calc(50% - 5px);
    }
    input[type="date"]::-webkit-inner-spin-button {
    display: none;
    }
    .item i, input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    font-size: 20px;
    color:  #a3c2c2;
    }
    .item i {
    right: 1%;
    top: 30px;
    z-index: 1;
    }
    input[type=radio], input[type=checkbox]  {
    display: none;
    }
    label.radio {
    position: relative;
    display: inline-block;
    margin: 5px 20px 15px 0;
    cursor: pointer;
    }
    .question span {
    margin-left: 30px;
    }
    .question-answer label {
    display: block;
    }
    label.radio:before {
    content: "";
    position: absolute;
    left: 0;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid #ccc;
    }
    input[type=radio]:checked + label:before, label.radio:hover:before {
    border: 2px solid  #669999;
    }
    label.radio:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 5px;
    width: 8px;
    height: 4px;
    border: 3px solid  #669999;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;
    }
    input[type=radio]:checked + label:after {
    opacity: 1;
    }
    
    .btn-block {
        margin-top: 10px;
        text-align: center;
        }
    button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px; 
    background:  #669999;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    }
    button:hover {
    background:  #a3c2c2;
    }
    

    .spotlight3 {
        display: block;
    }

    .spotlight {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    main.index {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    main.discover p {
        font-size: 2rem;
        padding: 0;
        margin: 1.2rem;
    }

    div.places {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        align-items: center;
    }

    .left {
        grid-column: 1;
    }

    .right {
        grid-column: 2;
    }

    #descrition2 {
        grid-row: 2;
    }

    #descrition4 {
        grid-row: 4;
    }

    #descrition6 {
        grid-row: 6;
    }

    #descrition8 {
        grid-row: 8;
    }

    #descrition10 {
        grid-row: 10;
    }

    .event {
        grid-column: 1/1;
        grid-row: 1/1;
    }

    .hero {
        grid-column: 2/4;
        grid-row: 1/3;
    }

    .hero p {
        font-size: 2.5rem;
    }

    .spotlight {
        grid-column: 4/5;
        grid-row: 1/4;
    }


    .join {
        grid-column: 1;
        grid-row: 3;
        padding: 2rem;
    }

    div#joinContent {
        margin: auto 0;
    }

    .news {
        grid-column: 2/4;
        grid-row: 3;
    }

    footer img.logo {
        grid-column: 1;
        grid-row: 1/3;
        width: 12rem;
        height: 12rem;
        width: 200px;
        height: 200px;
    }

    footer div.company {
        text-align: center;
        grid-column: 2;
        grid-row: 1;
        margin: auto;
        padding: 0;
    }

    footer div p#title {
        font-size: 2rem;
    }

    footer div div.address {
        margin: auto;
        padding: 0;
        font-size: 1.5rem;
    }

    footer div.mapouter {
        grid-row: 1/3;
        grid-column: 3;
        margin: auto 0;
    }

    footer div.foot {
        grid-column: 2;
        grid-row: 2;
    }
    .term{
        padding-left: 30px;
    }
    .term::before{
        top: 5px;
        border-radius: 0px !important;
    }
    .term::after{
        top: 11px !important;
    }

    .list section {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr); 
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin: 0;
        padding: 1rem;
        text-align: left;
    }
    .list section img { 
        grid-area: 1 / 1 / 4 / 3; 
        float: none;
    }
    .list section .names { 
        grid-area: 1 / 3 / 2 / 5; 
    }
    .list section .phonenumber { 
        grid-area: 2 / 3 / 3 / 5; 
    }
    .list section .website { 
        grid-area: 3 / 3 / 4 / 5; 
    }
    .list section .address { 
        grid-area: 1 / 5 / 3 / 7; 
    }
    .list section .membershiplevel { 
        grid-area: 3 / 5 / 4 / 7; 
    } 
    .list section .names, list section .phonenumber, .list section .phonenumber,  .list section .website, .list section .address, .list section .membershiplevel {
        margin-left: 0;
    }
    .menu{
        display: block;
    }
    #weather-icon{
        width: auto;
    }
}