@media only screen and (min-width: 35rem) {

    header {
        grid-template-columns: 200px 1fr 200px;
    }

    header p {
        font-size: 2rem;
    }

    .social {
        margin-top: 1.5rem;
    }

    main.index {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    main.discover p {
        font-size: 1.5rem;
    }

    .hero {
        grid-column: 1/4;
        grid-row: 1;
    }

    .hero p {
        font-size: 2rem;
    }

    .news {
        grid-column: 1/4;
        grid-row: 2;
    }

    .spotlight {
        grid-column: 1/4;
        grid-row: 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .join {
        display: block;
        grid-column: 1/4;
        grid-row: 4;
        text-align: center;
    }

    div#joinContent {
        margin: 0 auto;
    }

    .event {
        grid-column: 1/3;
        grid-row: 5;
    }

    footer {
        grid-template-columns: 200px 1fr 200px;
    }

    footer div.company {
        text-align: left;
        margin: .7rem;
        padding: 1.5rem 0;
    }

    footer div div.address {
        margin: .5rem 0 0 0;
        padding: .5rem 0 0 0;
    }

    footer div.mapouter {
        grid-row: 1;
        grid-column: 3;
    }

    footer div.foot {
        grid-row: 2;
        grid-column: span 3;
    }

    footer div h3 {
        font-size: 2rem;
    }

    img.logo {
        width: 150px;
        height: 150px;
    }
    .term{
        padding-left: 30px;
    }
    .term::before{
        top: 5px;
        border-radius: 0px !important;
    }
    .term::after{
        top: 11px !important;
    }
    .cards .card{
        margin-bottom: 1rem;
    }
    .cards{
        padding: 20px;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        text-align: center;
        column-gap: 20px;
        row-gap: 20px;
    }
    .list section > *{
        text-align: left;
    }
    .list section img { 
        float: left;
        display: block;
    }
    .list section .names, list section .phonenumber, .list section .phonenumber,  .list section .website, .list section .address, .list section .membershiplevel { 
        text-align: left;
        margin-left: 260px;
    }
    .list section .phonenumber { 
        grid-area: 3 / 1 / 4 / 2; 
    }
    .list section > * {
        margin: 0 1rem;
    }
    .menu{
        display: block;
    }
    .cards p {
        font-size: 1.88rem;
    }
    .cards section img{
        display: inline-block;
    }
    footer{
        display: grid;
    }
    main.index p {
        font-size: 2rem;
    }
    .news {
        padding: 0 2rem;
    }
}